@page "/catalogue/MKB"

@using MedicalStatistician.DAL.Entities.Base
@using MedicalStatistician.DAL.Repositories.Base
@inject ICrudRepository<MKB10> MKBEntity


<PageTitle>Справочник МКБ</PageTitle>

<h3 class="text-center">Справочник МКБ</h3>
<p class="divider"></p>

<div class="row">
    <div class="col-5">
        <input placeholder="Код МКБ" class="form-control rounded-3"/>
        
    </div>
    <div class="col-2">
        <button class="btn btn-primary" style="width:150px;">Поиск</button>
    </div>
    <div class="col-5 object-right">
        <button class="btn btn-primary" style="width:150px;">Сохранить</button>
    </div>
    
</div>
 
<div class="object-right">
    <button class="btn btn-primary oi oi-plus"></button>
    <button class="btn btn-primary oi oi-minus"></button>
</div>  

@if (_MKB is { } mkbCatalog)
{
    <div class="table-responsive">
        <table class="table table-bordered" border="1">
            <thead class="thead-light">
                <tr>
                    <th>Признак актуальности</th>
                    <th>Дата измен. актуальности</th>
                    <th>Код МКБ</th>
                    <th>Название заболевания</th>
                    <th>Родительская запись</th>
                </tr>
            </thead>
            <tbody>
                @* @for (var i = 0; i < size; i++)
            {
                 <tr>
                    <td style="text-align:center"><input type="checkbox"/> @item.Name</td>
                    <td><input type="date" style="width:100%; border:0; background-color:transparent"/> <!--bind-value=dir.collection1[i]--></td>
                    <td><input type="search" style="width:100%; border:0; background-color:transparent"/> <!--bind-value=dir.collection1[i]--></td>
                    <td><input type="search" style="width:100%; border:0; background-color:transparent"/> <!--bind-value=dir.collection1[i]--></td>
                    <td><input type="search" style="width:100%; border:0; background-color:transparent"/> <!--bind-value=dir.collection1[i]--></td>
                 </tr>
            }*@
                @foreach (var item in mkbCatalog)
                {
                    <tr>
                        <td>
                            @item.Actual
                        </td> 
                        <td>
                            @item.Date
                        </td>
                        <td>
                            @item.MkbCode
                        </td>
                        <td>
                            @item.MkbName
                        </td>
                        <td>
                            @item.Parent?.MkbName
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
}
else
{
    <p>Иди в жопу чОрт вонючий!!!</p>
}




@code
{
    private IList<MKB10> _MKB;

    protected override async Task OnInitializedAsync()
    {
        _MKB = (await MKBEntity.GetAllAsync()).ToList();
    }

   /* bool isActual(MKB10 mkb)
    {
        if (mkb.Actual == 1)
            return true;
        else
            return false;
    }*/
}

