@page "/statisticalMap"
@using MedicalStatistician.DAL.Entities.Base
@using MedicalStatistician.DAL.Repositories.Base
@using System.Diagnostics

@inject ICrudRepository<Sex> sexCatalog
@inject ICrudRepository<DisabilityGroup> invalidGroupCatalog
@inject ICrudRepository<PurposeOfReferralForTreatment> purposeTreatmentCatalog
@inject ICrudRepository<WhoSentToHospital> whoSentToHospitalCatalog
@inject ICrudRepository<SourceOfLivelihood> sourceOfLivelihoodCatalog
@inject ICrudRepository<DiseaseOutcome> diseaseOutcomeCatalog
@inject ICrudRepository<CauseOfDeath> causeOfDeathCatalog
@inject ICrudRepository<Education> educationCatalog
@inject ICrudRepository<ResidenceStatus> residenceStatusCatalog
@inject ICrudRepository<TypeOfForcedTreatment> typeOfForcedTreatmentCatalog
@inject ICrudRepository<PlaceOfDeparture> placeOfDepartureCatalog
@inject ICrudRepository<TypeOfOutpatientCare> typeOfOutpatientCareCatalog
@inject ICrudRepository<OrderOfAdmission> orderOfAdmissionCatalog
@inject ICrudRepository<StatusOfJudgesDecisionUnderArticle35> statusOfJudgesDecisionUnderArticle35Catalog
@inject ICrudRepository<TypeOfJudgment> typeOfJudgmentCatalog
@inject ICrudRepository<PatientEntryRoutes> patientEntryRoutesCatalog
@inject ICrudRepository<Accommodations> accommodationsCatalog
@inject ICrudRepository<SourcesOfPaymentForMedicalCare> sourcesOfPaymentForMedicalCareCatalog

<PageTitle>Стат. карта</PageTitle>

<div class="text-center">
    <h3>Статистическая карта</h3>
    <h4>выбывшего из психиатрического (наркологического) стационара</h4>
</div>

<p>
    <label class="name-text">Фамилия</label>
    <input class="name-input" @bind="model.Family"/>
</p>
<p>
    <label class="name-text">Имя</label>
    <input class="name-input" @bind="model.Name"/>
</p>
<p>
    <label class="name-text">Отчество</label>
    <input class="name-input" @bind="model.Patronymic"/>
</p>

<section>
    <div class="row">
        <div class="col-4 border form-padding">
            <p>
                <label class="document-text">Пол</label>
                <select class="document-input" @bind="model.Sex">
                    @if (sexCollection != null)
                    {
                        @foreach (var item in sexCollection)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </p>
            <p>
                <label class="document-text">Житель</label>
                <select class="document-input" @bind="model.PlaceOfResidence">
                    <!--Не реализовано-->
                    <option value="">(не выбрано)</option>
                    <option value="">города</option>
                    <option value="">села</option>
                </select>
            </p>           
            <p>
                <label  class="document-text">Дата рождения</label>
                <input type="date" class="document-input" @bind="model.Birtthdate">
            </p>
            <p>
                <label class="document-text">Вид оплаты</label>
                <select class="document-input" @bind="model.TypesOfPayment">
                    @if (typesOfPaymentCollection != null)
                    {
                        @foreach (var item in typesOfPaymentCollection)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </p>
            <p>Страховой полис:</p>
            <p>серия <input class="insurance-serie" @bind="model.InsurancePolicySeries"/> номер <input  class="insurance-number" @bind="model.InsurancePolicyNumber"/></p>
            <p>
                <label class="document-text">Номер стат. карты</label>
                <input class="document-input" @bind="model.StatisticalCardNumber"/>
            </p>
            <p>
                <label class="document-text">Мед.карта стац. б-го</label>
                <input class="document-input" @bind="model.MedicalCardNumber"/>
            </p>
            <p>
                <label class="document-text">Номер отделения</label>
                <input class="document-input" @bind="model.DepartmentNumber">
            </p>
            <p>
                <label class="document-text">Дата поступления</label>
                <input type="date" class="document-input" @bind="model.DateOfReceipt">
            </p>
            <p>
                <label class="document-text">Дата открытия бол-го листа</label>
                <input type="date" class="document-input" @bind="model.DateOfOpeningOfTheSickLeave">
            </p>
            <p>
                <label class="document-text">Дата закрытия бол-го листа</label>
                <input type="date" class="document-input" @bind="model.SickLeaveClosingDate">
            </p>
        </div>
        <div class="col-4 border form-padding">
            <p>
                <label class="document-text">Кем направлен</label>
                <select class="document-input" @bind="model.SentByWhom">                   
                    @if (sentByWhomCollection != null)
                    {
                        @foreach (var item in sentByWhomCollection)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </p>
            <p>
                <label class="document-text">Порядок поступления</label> 
                <select class="document-input" @bind="model.AdmissionProcedure">                   
                    @if (admissionProcedureCollection != null)
                    {
                        @foreach (var item in admissionProcedureCollection)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </p>
            <p>
                <label class="document-text">Решение судьи по ст.35</label> 
                <select class="document-input" @bind="model.JudgesDecisionOnArticle35">
                    @if (judgesDecisionOnArticle35Collection != null)
                    {
                        @foreach (var item in judgesDecisionOnArticle35Collection)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </p>
            <p>
                <label class="document-text">Откуда поступил</label> 
                <select class="document-input" @bind="model.WhereDidHeComeFrom">                   
                    @if (whereDidHeComeFromCollection != null)
                    {
                        @foreach (var item in whereDidHeComeFromCollection)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </p>
            <p>
                <label class="document-text">Цель направления</label>
                <select class="document-input" @bind="model.PurposeOfTheDirection">
                    @if (purposeOfTheDirectionCollection != null)
                    {
                        @foreach (var item in purposeOfTheDirectionCollection)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </p>
            <!---->
            <!--На подумать, привязка МКБ-->
            <!---->
            <p>Диагноз направившего учреждения </p>
                <textarea @bind="model.DiagnosisOfTheSendingInstitution"></textarea>
             <p>
                <label class="document-text">Код по МКБ-10</label>
                <input class="document-input" @bind="model.DiagnosisOfTheSendingInstitutionMKB"/>
            </p>
        </div>
        <div class="col-4 border form-padding">
            <!---->
            <!--На подумать, привязка МКБ-->
            <!---->
            <p>Заключительный диагноз</p>
                 <textarea @bind="model.FinalDiagnosis"></textarea>
            <p>
                <label class="document-text">Код по МКБ-10</label>
                <input class="document-input" @bind="model.FinalDiagnosisMKB"/>
            </p>
            <p>
                <label class="document-text">Основной код (+) по МКБ-10</label> 
                <input class="document-input" @bind="model.MainCodeMKB"/>
            </p>
            <p>
                <label class="document-text">Инвалидность при выписке по псих. заболеванию</label>
                <select class="document-input" @bind="model.DisabilityAtDischargeDueToIllness">
                    @if (disabilityGroupCollection != null)
                    {
                        @foreach (var item in disabilityGroupCollection)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </p>
            <p>
                <!--Не реализовано-->
                <label class="document-text">Обследование больного на ВИЧ</label>
                <select class="document-input" @bind="model.ExaminationOfPatientForHIV">
                    <option value="">(не выбрано)</option>
                    <option value="">выявлен впервые в жизни</option>
                    <option value="">выявлен ранее</option>
                    <option value="">ВИЧ не выявлен</option>
                    <option value="">не обследован</option>
                </select>
            </p>
            <p>
                <label class="document-text">Выбыл</label>
                <select class="document-input" @bind="model.Leave">
                    @if (leaveCollection != null)
                    {
                        @foreach (var item in leaveCollection)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </p>
            <p>
                <label class="document-text">Смерть наступила</label>
                <select class="document-input" @bind="model.DeathHasOccurred">                    
                    @if (deathHasOccurredCollection != null)
                    {
                        @foreach (var item in deathHasOccurredCollection)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </p>
            <!---->
            <!--На подумать, привязка МКБ-->
            <!---->
            <p>Основная причина смерти</p>
                 <textarea></textarea>
             <p>
                <label class="document-text">Код по МКБ-10</label>
                <input class="document-input"/>
            </p>
        </div>
    </div>
</section>


<p class="text-center">Заполняется на больного, находившегося на принудитеьлном лечении в данном стационаре</p>
<div class="table-responsive">

        <label class="fw-bolder">Отметки о начале, окончании и изменении вида принудительного лечения </label>
        <div class="object-right">
            <button class="btn btn-primary oi oi-plus" @onclick=Add></button>
            <button class="btn btn-primary oi oi-minus" @onclick=Sub></button>
        </div>   

    <section>
        <table class="table table-bordered">
        
            <thead class="thead-light text-center">
                <tr>
                    <th colspan="2" class="col-2">Решение суда о начале принудительного лечения</th>
                    <th colspan="6" class="col-8">Решение суда об изменении (продлении) принудительного лечения</th>
                    <th class="col-2">Решение суда об окончании принудительного лечения</th>
                </tr>
                <tr>
                    <th class="col-1">Дата</th>
                    <th class="col-1 table-type-head">Вид</th>

                    <th class="col-1">Дата</th>
                    <th class="col-1 table-type-head">Вид</th>
                    <th class="col-1">Дата</th>
                    <th class="col-1 table-type-head">Вид</th>
                    <th class="col-1">Дата</th>
                    <th class="col-1 table-type-head">Вид</th>

                    <th class="col-2">Дата</th>
                </tr>           
            </thead>
            <tbody>
                @if (model.HistoryOfCompulsoryTreatments != null)
                {
                    @for (int i = 0; i < model.HistoryOfCompulsoryTreatments.Count; i++)
                    {
                        <tr>
                            <td><input type="date" class="object-table"/></td>
                            <td>
                                <select class="object-table">
                                    <option value="">(не выбрано)</option>
                                    <option value="">амбулаторное</option>
                                    <option value="">в псих.стац. общего типа</option>
                                    <option value="">в псих.стац. спец. типа</option>
                                    <option value="">спец типа с интенсивным наблюдением</option>                          
                                </select>
                            </td>

                            <td><input type="date" class="object-table"/></td>
                            <td>
                                <select class="object-table">
                                    <option value="">(не выбрано)</option>
                                    <option value="">амбулаторное</option>
                                    <option value="">в псих.стац. общего типа</option>
                                    <option value="">в псих.стац. спец. типа</option>
                                    <option value="">спец типа с интенсивным наблюдением</option>                          
                                </select>
                            </td>
                            <td><input type="date" class="object-table"/></td>
                            <td>
                                <select class="object-table">
                                    <option value="">(не выбрано)</option>
                                    <option value="">амбулаторное</option>
                                    <option value="">в псих.стац. общего типа</option>
                                    <option value="">в псих.стац. спец. типа</option>
                                    <option value="">спец типа с интенсивным наблюдением</option>                          
                                </select>
                            </td>
                            <td><input type="date" class="object-table"/></td>
                            <td>
                                <select class="object-table">
                                    <option value="">(не выбрано)</option>
                                    <option value="">амбулаторное</option>
                                    <option value="">в псих.стац. общего типа</option>
                                    <option value="">в псих.стац. спец. типа</option>
                                    <option value="">спец типа с интенсивным наблюдением</option>                          
                                </select>
                            </td>

                            <td><input type="date" class="object-table"/></td>

                        </tr>
                    }
                }
            </tbody>
        
        </table>
    </section>
</div>

<!--Пункты 29 и 30-->
<p>
    <label class="compulsory-treatment-text">В случае окончания принудительного лечения</label>
    <!--Не реализовано-->
    <select class="compulsory-treatment-input" @bind="model.InCaseOfTerminationOfCompulsoryTreatment">
        <option value="">(не выбрано)</option>
        <option value="">выбыл из стационара</option>
        <option value="">остался на долечивании в стационаре</option>                         
    </select>
</p>
<p>
    <label class="compulsory-treatment-text">Дата окончания принудительного лечения</label>
    <input type="date" class="compulsory-treatment-input" @bind="model.EndDateOfPreviousCompulsoryTreatment">
</p>

<div class="divider"></div>
<h5 class="text-center">Дополнительные сведения о больном</h5>
<section>
    <div class="row">
        <div class="col-4 border form-padding">
            <p>
                <label class="document-text">Дата начала заболевания</label>
                <input type="date" class="document-input" @bind="model.DateOfOnsetOfTheDisease">
            </p>
            <p>
                <label class="document-text">Дата обращения к психиатру (наркологу) впервые в жизни</label>
                <input type="date" class="document-input" @bind="model.DateOfReferralToPsychiatristForTheFirstTimeInLife">
            </p>
            <p>
                <label class="document-text">Вид амбулаторного наблюдения</label>
                <select class="document-input" @bind="model.TypeOfOutpatientObservation">                   
                    @if (typeOfOutpatientObservationCollection != null)
                    {
                        @foreach (var item in typeOfOutpatientObservationCollection)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </p>
            <p>
                <label class="document-text">Дата предыдущей выписки из психиатрич. или наркологич. стац.</label>
                <input type="date" class="document-input" @bind="model.DateOfPreviousDischargeFromTheHospital">
            </p>
            <p>
                <label class="document-text">Число дней работы в ЛТМ</label>
                <input class="document-input" @bind="model.NumberOfWorkingDaysInLTM"/>
            </p>
            <p>Число дней лечебных отпусков (за период госпитализации)</p>
            <p>
                <label>дней 
                    <input class="vacation-days" @bind="model.NumberOfDaysOfMedicalVacations"/> 
                    отпусков 
                    <input class="vacation-days" @bind="model.NumberOfMedicalVacations"/>
                </label>
            </p>
        </div>
        <div class="col-4 border form-padding">
            <!---->
            <!--На подумать, привязка МКБ-->
            <!---->
            <p>Сопутствующее психическое (наркологическое) заболевание</p>
                <textarea @bind="model.ConcomitantMentalIllness"></textarea>
            <p>
                <label class="document-text">Код по МКБ-10 F</label>
                <input class="document-input" @bind="model.ConcomitantMentalIllnessMKB"/></p>
            <p>Сопутствующее соматическое заболевание</p>
            <p> <label class="document-text">Код по МКБ-10</label>
                <input class="document-input" @bind="model.ConcomitantSomaticDiseaseMKB"/>
            </p>
            <p>
                <label class="document-text">Инвалидность по общему заболеванию</label>
                <select class="document-input" @bind="model.DisabilityDueToCommonDisease">                   
                    @if (disabilityGroupCollection != null)
                    {
                        @foreach (var item in disabilityGroupCollection)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </p>
            <p>
                <label class="document-text">Инвалид ВОВ</label>
                <input type="checkbox" @bind="model.IsDisabledVeteran">
            </p>
            <p>
                <label class="document-text">Участник ВОВ</label>
                <input type="checkbox" @bind="model.IsVeteran">
            </p>
            <p>
                <label class="document-text">Число законченных классов</label>
                <input class="document-input" @bind="model.NumberOfCompletedClassesOfSecondaryEducationalInstitution">
            </p>
            <p>
                <label class="document-text">Образование</label>
                <select class="document-input" @bind="model.Education">
                    @if (educationCollection != null)
                    {
                        @foreach (var item in educationCollection)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </p>          
        </div>
        <div class="col-4 border form-padding">
            <p>
                <label class="document-text">Учится</label>
                <input type="checkbox" @bind="model.IsStudy">
            </p>
            <p>
                <label class="document-text">Источник средств существования</label>
                <select class="document-input" @bind="model.SourceOfLivelihood">
                    @if (sourceOfLivelihoodCollection != null)
                    {
                        @foreach (var item in sourceOfLivelihoodCollection)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </p>
            <p>
                <label class="document-text">Проживает</label>
                <select class="document-input" @bind="model.Lives">
                    @if (livesCollection != null)
                    {
                        @foreach (var item in livesCollection)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </p>
            <p>
                <label class="document-text">Условия проживания</label>
                <select class="document-input" @bind="model.LivingConditions">
                    @if (livingConditionsCollection != null)
                    {
                        @foreach (var item in livingConditionsCollection)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </p>
            <p>
                <label class="document-text">Исход заболевания</label>
                <select class="document-input" @bind="model.OutcomeOfTheDisease">
                    @if (outcomeOfTheDiseaseCollection != null)
                    {
                        @foreach (var item in outcomeOfTheDiseaseCollection)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    }
                </select>
            </p>
        </div>
    </div>
</section>

<div class="divider-save"></div>
<!--Кнопка сохранить-->
<div class="object-right">
    <button class="btn btn-primary" @onclick="Save">Сохранить</button>
</div>

<Footer></Footer>
