@page "/statisticalMap"

<PageTitle>Стат. карта</PageTitle>



<div style="text-align:center">
    <h3>Статистическая карта</h3>
    <h4>выбывшего из психиатрического (наркологического) стационара</h4>
</div>

<p>
    <label style="width:12%">Фамилия</label>
    <input style="width:21%" @bind=@str />
</p>
<p>
    <label style="width:12%">Имя</label>
    <input style="width:21%" />
</p>
<p>
    <label style="width:12%">Отчество</label>
    <input style="width:21%" />
</p>

<section>
    <div class="row">
        <div class="col-4 border" style="padding:1%;">
            <p>
                <label style="width:36%">Пол</label>
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">мужской</option>
                    <option value="">женский</option>
                </select>
            </p>
            <p>
                <label style="width:36%">Житель</label>
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">города</option>
                    <option value="">села</option>
                </select>
            </p>
            <p>
                <label style="width:36%">Код места жительства по ОКАТО</label>
                <input style="width:62%">
            </p>
            <p>
                <label  style="width:36%">Дата рождения</label>
                <input type="date" style="width:62%">
            </p>
            <p>
                <label style="width:36%">Вид оплаты</label>
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">бюджеты всех уровней</option>
                    <option value="">обязательное мед. страхование</option>
                    <option value="">добровольное мед. страхование</option>
                    <option value="">платные мед. услуги</option>
                    <option value="">прочее</option>
                </select>
                <!--Типа справочник (нет)-->
                @*<select @bind=@str>
                    <option value="">Select a car</option>
                    <option value="audi">Audi</option>
                    <option value="jeep">Jeep</option>
                    <option value="opel">Opel</option>
                    <option value="saab">Saab</option>
                    <option value="volvo">Volvo</option>
                </select>*@
                <!--Конец сего мракобесия-->
            </p>
            <p>
                <label style="width:36%">Название страховой компании</label>
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">СМК РЕСО-МЕД</option>
                    <option value="">КАПИТАЛ МС</option>
                </select>
            </p>
            <p>Страховой полис:</p>
            <p>серия <input style="width: 20%"/> номер <input  style="width: 30%"/></p>
            <p>
                <label style="width:36%">Номер стат. карты</label>
                <input style="width:62%"/>
            </p>
            <p>
                <label style="width:36%">Мед.карта стац. б-го</label>
                <input style="width:62%"/>
            </p>
            <p>
                <label style="width:36%">Номер отделения</label>
                <input style="width:62%">
            </p>
            <p>
                <label style="width:36%">Дата поступления</label>
                <input type="date" style="width:62%">
            </p>
            <p>
                <label style="width:36%">Дата открытия бол-го листа</label>
                <input type="date" style="width:62%">
            </p>
            <p>
                <label style="width:36%">Дата закрытия бол-го листа</label>
                <input type="date" style="width:62%">
            </p>
        </div>
        <div class="col-4 border" style="padding:1%;">
            <p>
                <label style="width:36%">Кем направлен</label>
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">псих. дисп. (отд. кабинетом)</option>
                    <option value="">наркол. дисп. (отд. кабинетом)</option>
                    <option value="">психотерапевтом</option>
                    <option value="">врачом поликлиники</option>
                    <option value="">врачом скорой мед. помощи</option>
                    <option value="">психиатром (наркологом)</option>
                    <option value="">другими врачами</option>
                    <option value="">судом</option>
                    <option value="">самостоятельно</option>
                    <option value="">прочее</option>
                </select>
            </p>
            <p>
                <label style="width:36%">Порядок поступления</label> 
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">добровольное</option>
                    <option value="">недобр. в соотв. со ст.29</option>
                    <option value="">согласия не требуется</option>
                </select>
            </p>
            <p>
                <label style="width:36%">Решение судьи по ст.35</label> 
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">получено</option>
                    <option value="">отказано</option>
                    <option value="">не требуется</option>
                    <option value="">прочее</option>
                </select>
            </p>
            <p>
                <label style="width:36%">Откуда поступил</label> 
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">из дома</option>
                    <option value="">переведен из псих. стационара</option>
                    <option value="">переведен из нарк. стационара</option>
                    <option value="">переведен из стац. другого профиля</option>
                    <option value="">из дневного псих.(нарк.) стац.</option>
                    <option value="">прочее</option>
                </select>
            </p>
            <p>
                <label style="width:36%">Цель направления</label>
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">лечение</option>
                    <option value="">реабилитация</option>
                    <option value="">принудительное лечение</option>
                    <option value="">судебная экспертиза</option>
                    <option value="">военная экспертиза</option>
                    <option value="">трудовая экспертиза</option>
                    <option value="">наркологическая экспертиза</option>
                    <option value="">др. виды экспертиз</option>
                    <option value="">др. цели направления</option>
                </select>
            </p>
            <p>Диагноз направившего учреждения </p>
                <textarea style="width:98%"></textarea>
             <p>
                <label style="width:36%">Код по МКБ-10</label>
                <input style="width:62%"/>
            </p>
        </div>
        <div class="col-4 border" style="padding:1%;">
            <p>Заключительный диагноз</p>
                 <textarea style="width:98%"></textarea>
            <p>
                <label style="width:36%">Код по МКБ-10</label>
                <input style="width:62%"/>
            </p>
            <p>
                <label style="width:36%">Основной код (+) по МКБ-10</label> 
                <input style="width:62%"/>
            </p>
            <p>
                <label style="width:36%">Инвалидность при выписке по псих. заболеванию</label>
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">1 группа инвалидности</option>
                    <option value="">2 группа инвалидности</option>
                    <option value="">3 группа инвалидности</option>
                    <option value="">ребенок инвалид</option>
                    <option value="">не инвалид</option>
                </select>
            </p>
            <p>
                <label style="width:36%">Обследование больного на ВИЧ</label>
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">выявлен впервые в жизни</option>
                    <option value="">выявлен ранее</option>
                    <option value="">ВИЧ не выявлен</option>
                    <option value="">не обследован</option>
                </select>
            </p>
            <p>
                <label style="width:36%">Выбыл</label>
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">домой</option>
                    <option value="">в психиатрический стационар</option>
                    <option value="">в наркологический стационар</option>
                    <option value="">в непсихиатрический стационар</option>
                    <option value="">в дневной псих. стационар</option>
                    <option value="">в стац.учр.соц.обслуживания для взрослых</option>
                    <option value="">в стац.учр.соц.обслуживания для детей</option>
                    <option value="">не выбывал на конец года</option>
                    <option value="">умер</option>
                    <option value="">прочее</option>
                </select>
            </p>
            <p>
                <label style="width:36%">Смерть наступила</label>
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">от психического заболевания</option>
                    <option value="">от соматического заболевания</option>
                    <option value="">самоубийство</option>
                    <option value="">несчастный случай</option>
                    <option value="">прочие причины</option>
                </select>
            </p>
            <p>Основная причина смерти</p>
                 <textarea style="width:98%"></textarea>
             <p>
                <label style="width:36%">Код по МКБ-10</label>
                <input style="width:62%"/>
            </p>
        </div>
    </div>
</section>


<p style="text-align:center">Заполняется на больного, находившегося на принудитеьлном лечении в данном стационаре</p>
<div class="table-responsive">

        <label class="fw-bolder">Отметки о начале, окончании и изменении вида принудительного лечения </label>
        <div style="text-align:right">
            <button class="btn btn-primary oi oi-plus" @onclick=Add></button>
            <button class="btn btn-primary oi oi-minus" @onclick=Sub></button>
        </div>   

    <section>
        <table class="table table-bordered" border="1">
        
            <thead class="thead-light" style="text-align:center">
                <tr>
                    <th colspan="2" class="col-2">Решение суда о начале принудительного лечения</th>
                    <th colspan="6" class="col-8">Решение суда об изменении (продлении) принудительного лечения</th>
                    <th class="col-2">Решение суда об окончании принудительного лечения</th>
                </tr>
                <tr>
                    <th class="col-1">Дата</th>
                    <th class="col-1" style="padding-left:80px; padding-right:80px;">Вид</th>

                    <th class="col-1">Дата</th>
                    <th class="col-1" style="padding-left:80px; padding-right:80px;">Вид</th>
                    <th class="col-1">Дата</th>
                    <th class="col-1" style="padding-left:80px; padding-right:80px;">Вид</th>
                    <th class="col-1">Дата</th>
                    <th class="col-1" style="padding-left:80px; padding-right:80px;">Вид</th>

                    <th class="col-2">Дата</th>
                </tr>           
            </thead>
            <tbody>
                <!--Вставил style т.к. импорт из css не работает-->
                @for (int i = 0; i < size; i++)
                {
                    <tr style="width:100%; height:100%;">
                        <td><input type="date" class=object-table/></td>
                        <td>
                            @*<select class=object-table></select>*@
                            <select class=object-table>
                                <option value="">(не выбрано)</option>
                                <option value="">амбулаторное</option>
                                <option value="">в псих.стац. общего типа</option>
                                <option value="">в псих.стац. спец. типа</option>
                                <option value="">спец типа с интенсивным наблюдением</option>                          
                            </select>
                        </td>

                        <td><input type="date" class=object-table/></td>
                        <td>
                            @*<select class=object-table></select>*@
                            <select class=object-table>
                                <option value="">(не выбрано)</option>
                                <option value="">амбулаторное</option>
                                <option value="">в псих.стац. общего типа</option>
                                <option value="">в псих.стац. спец. типа</option>
                                <option value="">спец типа с интенсивным наблюдением</option>                          
                            </select>
                        </td>
                        <td><input type="date" class=object-table/></td>
                        <td>
                            @*<select class=object-table></select>*@
                            <select class=object-table>
                                <option value="">(не выбрано)</option>
                                <option value="">амбулаторное</option>
                                <option value="">в псих.стац. общего типа</option>
                                <option value="">в псих.стац. спец. типа</option>
                                <option value="">спец типа с интенсивным наблюдением</option>                          
                            </select>
                        </td>
                        <td><input type="date" class=object-table/></td>
                        <td>
                            @*<select class=object-table></select>*@
                            <select class=object-table>
                                <option value="">(не выбрано)</option>
                                <option value="">амбулаторное</option>
                                <option value="">в псих.стац. общего типа</option>
                                <option value="">в псих.стац. спец. типа</option>
                                <option value="">спец типа с интенсивным наблюдением</option>                          
                            </select>
                        </td>

                        <td><input type="date" class=object-table/></td>
            
                    </tr>
                }
               @* @foreach (var item in collection)
                {
                    <tr class="stat-card-head fw-normal">
                        <th ></th>
                        <th>@item.Str2</th>
                        <th>@item.Str3</th>
                        <th>@item.Str1</th>
                        <th>@item.Str2</th>
                        <th>@item.Str3</th>
                        <th>@item.Str1</th>
                        <th>@item.Str2</th>
                        <th>@item.Str3</th>
                    </tr>
                } *@
            </tbody>
        
        </table>
    </section>
</div>

<!--Пункты 29 и 30-->
<p>
    <label style="width:22%">В случае окончания принудительного лечения</label>
    @*<select style="width:18%"></select>*@
    <select style="width:18%">
        <option value="">(не выбрано)</option>
        <option value="">выбыл из стационара</option>
        <option value="">остался на долечивании в стационаре</option>                         
    </select>
</p>
<p>
    <label style="width:22%">Дата окончания принудительного лечения</label>
    <input type="date" style="width:18%">
</p>

<div style="height: 30px;"></div>
<h5 style="text-align:center">Дополнительные сведения о больном</h5>
<section>
    <div class="row">
        <div class="col-4 border" style="padding:1%;">
            <p>
                <label style="width:36%">Дата начала заболевания</label>
                <input type="date" style="width:62%">
            </p>
            <p>
                <label style="width:36%">Дата обращения к психиатру (наркологу) впервые в жизни</label>
                <input type="date" style="width:62%">
            </p>
            <p>
                <label style="width:36%">Вид амбулаторного наблюдения</label>
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">профилактивное наблюдение</option>
                    <option value="">диспансерное наблюдение</option>
                    <option value="">активное диспансерное набл.</option>
                    <option value="">амбулаторное принуд. лечение</option>
                    <option value="">обязательное лечение</option>
                    <option value="">прочие виды амбул. помощи</option>
                    <option value="">не оказывается</option>
                    <option value="">не известно</option>
                </select>
            </p>
            <p>
                <label style="width:36%">Дата предыдущей выписки из психиатрич. или наркологич. стац.</label>
                <input type="date" style="width:62%">
            </p>
            <p>
                <label style="width:36%">Число дней работы в ЛТМ</label>
                <input style="width:62%"/></p>
            <p>Число дней лечебных отпусков (за период госпитализации)</p>
            <p>
                <label>дней <input style="width: 20%"/> отпусков <input style="width: 20%"/></label>
            </p>
        </div>
        <div class="col-4 border" style="padding:1%;">
            <p>Сопутствующее психическое (наркологическое) заболевание</p>
                <textarea style="width:98%"></textarea>
            <p>
                <label style="width:36%">Код по МКБ-10 F</label>
                <input style="width:62%"/></p>
            <p>Сопутствующее соматическое заболевание</p>
            <p> <label style="width:36%">Код по МКБ-10</label>
                <input style="width:62%"/>
            </p>
            <p>
                <label style="width:36%">Инвалидность по общему заболеванию</label>
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">1 группа инвалидности</option>
                    <option value="">2 группа инвалидности</option>
                    <option value="">3 группа инвалидности</option>
                    <option value="">ребенок инвалид</option>
                    <option value="">не инвалид</option>
                </select>
            </p>
            <p>
                <label style="width:36%">Инвалид ВОВ</label>
                <input type="checkbox">
            </p>
            <p>
                <label style="width:36%">Участник ВОВ</label>
                <input type="checkbox">
            </p>
            <p>
                <label style="width:36%">Образование</label>
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">спец корр. учреждение</option>
                    <option value="">начальное профессиональное</option>
                    <option value="">среднее профессиональное</option>
                    <option value="">незакон. высшее професс.</option>
                    <option value="">высшее профессионалшьное</option>
                    <option value="">прочее</option>
                </select>
            </p>
        </div>
        <div class="col-4 border" style="padding:1%;">
            <p>
                <label style="width:36%">Учится</label>
                <input type="checkbox">
            </p>
            <p>
                <label style="width:36%">Источник средств существования</label>
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">рабочий</option>
                    <option value="">служащий</option>
                    <option value="">пенсия по возрасту</option>
                    <option value="">соц. пособие по инвалидности</option>
                    <option value="">соц. пособие по безработице</option>
                    <option value="">стипендия</option>
                    <option value="">др. виды гос. обеспечения</option>
                    <option value="">на иждевении у отд. лиц</option>
                    <option value="">прочие</option>
                </select>
            </p>
            <p>
                <label style="width:36%">Проживает</label>
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">в семье</option>
                    <option value="">один</option>
                </select>
            </p>
            <p>
                <label style="width:36%">Условия проживания</label>
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">собственный дом</option>
                    <option value="">отдельная квартира</option>
                    <option value="">коммунальная квартира</option>
                    <option value="">общежитие</option>
                    <option value="">БОМЖ</option>
                    <option value="">прочие</option>
                </select>
            </p>
            <p>
                <label style="width:36%">Исход заболевания</label>
                @*<select style="width:62%"></select>*@
                <select style="width:62%">
                    <option value="">(не выбрано)</option>
                    <option value="">выздоровление</option>
                    <option value="">улучшение</option>
                    <option value="">без изменений</option>
                    <option value="">ухудшение</option>
                </select>
            </p>
        </div>
    </div>
</section>


<div style="height: 30px;"></div>
<h5 style="text-align:center">Сведения об употреблении психоактивных веществ</h5>
<div class="table-responsive">
    <p class="fw-bolder">Возраст начала употребления психоактивных веществ</p>
    <table class="table table-bordered" border="1">
        <thead class="thead-light" style="text-align:center">
            <tr>
                <th rowspan="2">Наименование психоактивного вещества</th>
                <th colspan="4">Число полных лет</th>
            </tr>
            <tr>
                <th>курение</th>
                <th>прием внутрь</th>
                <th>внутривенно</th>
                <th>прочее</th>
            </tr>           
        </thead>
        <tbody>
            @for (int i = 0; i < 3; i++)
            {
                <tr style="text-align:center">
                    <td>
                        @*<select class=object-table/>*@
                        <select class=object-table>
                            <option value="">(не выбрано)</option>
                            <option value="">вещество 1</option>
                            <option value="">вещество 2</option>
                            <option value="">вещество 3</option>
                            <option value="">вещество 4</option>
                        </select>
                    </td>
                    <td><input class=object-table/></td>
                    <td><input class=object-table/></td>
                    <td><input class=object-table/></td>
                    <td><input class=object-table/></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <p class="fw-bolder">Употребление психоактивных веществ на момент госпитализации</p>
    <table class="table table-bordered" border="1">
         <thead class="thead-light" style="text-align:center">
            <tr>
                <th>Вид вещества</th>
                <th>Наименование психоактивного вещества</th>
                <th>Курение</th>
                <th>Прием внутрь</th>
                <th>Внутривенно</th>
                <th>Прочее</th>
            </tr>           
        </thead>
        <tbody>
            @for (int i = 0; i < 3; i++)
            {
                <tr style="text-align:center">
                    <td>
                        @*<select class=object-table/>*@
                        <select class=object-table>
                            <option value="">(не выбрано)</option>
                            <option value="">последующее 1</option>
                            <option value="">последующее 2</option>
                            <option value="">последующее 3</option>
                            <option value="">последующее 4</option>
                        </select>
                    </td>
                    <td>
                        @*<select class=object-table/>*@
                        <select class=object-table>
                            <option value="">(не выбрано)</option>
                            <option value="">вещество 1</option>
                            <option value="">вещество 2</option>
                            <option value="">вещество 3</option>
                            <option value="">вещество 4</option>
                        </select>
                    </td>
                    <td><input type="checkbox"/></td>
                    <td><input type="checkbox"/></td>
                    <td><input type="checkbox"/></td>
                    <td><input type="checkbox"/></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
    <label style="width:59%">Использование чужих шприцов, игл, приспособлений в течении последнего года</label>
    <input type="checkbox">
</p>
<p>
    <label style="width:59%">Проживание с потребителем психоактивных веществ</label> 
    <input type="checkbox">
</p>
<p>
    <label style="width:32%">Полученный вид наркологической помощи в данном учреждении</label>
    @*<select style="width:28%"></select>*@
    <select style="width:28%">
        <option value="">(не выбрано)</option>
        <option value="">детоксикация</option>
        <option value="">долгосрочная медикаментозная терапия</option>
        <option value="">реабилитация</option>
        <option value="">детоксикация и долгосрочная медикаментозная терапия</option>
        <option value="">долгосрочная медикаментозная терапия и реабилитация</option>
        <option value="">детокс., долг. медик. терапия и реабилитация</option>
        <option value="">другие виды лечения</option>
    </select>
</p>

<!--Кнопка сохранить-->
<div style="text-align:right;">
    <button class="btn btn-primary" @onclick="Save">Сохранить</button>
</div>

<Footer></Footer>



@code {

    List<SmthClass> collection = new List<SmthClass>();
    class SmthClass
    {
        public string Str1 { get; set; }
        public string Str2 { get; set; }
        public string Str3 { get; set; }

        public SmthClass(string str1, string str2, string str3)
        {
            Str1 = str1;
            Str2 = str2;
            Str3 = str3;
        }
    }

    int size = 3;

    double testcount = 0;

    void Add() => size++;
    void Sub() => size--;

    void Save() => testcount = Math.Cos(testcount);

    /// <summary>
    /// Инициализация до отрисовки
    /// </summary>
    /// <returns></returns>
    protected async override Task OnInitializedAsync()
    {
        collection.Add(new SmthClass("1", "2", "3"));
        collection.Add(new SmthClass("4", "5", "6"));
        collection.Add(new SmthClass("7", "8", "9"));
    }

    // временные данные
    string str = "";

}
