@page "/statisticalMap"

<PageTitle>Стат. карта</PageTitle>



<div style="text-align:center">
    <h3>Статистическая карта</h3>
    <h4>выбывшего из психиатрического (наркологического) стационара</h4>
</div>

<p>
    <label style="width:12%">Фамилия</label>
    <input style="width:21%" @str />
</p>
<p>
    <label style="width:12%">Имя</label>
    <input style="width:21%" @str />
</p>
<p>
    <label style="width:12%">Отчество</label>
    <input style="width:21%" @str />
</p>

<section>
    <div class="row">
        <div class="col-4 border" style="padding:1%;">
            <p>
                <label style="width:36%">Пол</label>
                <select style="width:62%"></select>               
            </p>
            <p>
                <label style="width:36%">Житель</label>
                <select style="width:62%"></select>
            </p>
            <p>
                <label style="width:36%">Код места жительства по ОКАТО</label>
                <input style="width:62%">
            </p>
            <p>
                <label  style="width:36%">Дата рождения</label>
                <input type="date" style="width:62%">
            </p>
            <p>
                <label style="width:36%">Вид оплаты</label>
                <select style="width:62%"></select>
            </p>
            <p>
                <label style="width:36%">Название страховой компании</label>
                <input style="width:62%">
            </p>
            <p>Страховой полис: серия <input style="width: 20%"/> номер <input  style="width: 31%"/></p>
            <p>
                <label style="width:36%">Номер стат. карты</label>
                <input style="width:62%"/>
            </p>
            <p>
                <label style="width:36%">Мед.карта стац. б-го</label>
                <input style="width:62%"/>
            </p>
            <p>
                <label style="width:36%">Номер отделения</label>
                <input style="width:62%">
            </p>
            <p>
                <label style="width:36%">Дата поступления</label>
                <input type="date" style="width:62%">
            </p>
            <p>
                <label style="width:36%">Дата открытия бол-го листа</label>
                <input type="date" style="width:62%">
            </p>
            <p>
                <label style="width:36%">Дата закрытия бол-го листа</label>
                <input type="date" style="width:62%">
            </p>
        </div>
        <div class="col-4 border" style="padding:1%;">
            <p>
                <label style="width:36%">Кем направлен</label>
                <select style="width:62%"></select>
            </p>
            <p>
                <label style="width:36%">Порядок поступления</label> 
                <select style="width:62%"></select>
            </p>
            <p>
                <label style="width:36%">Решение судьи по ст.35</label> 
                <select style="width:62%"></select>
            </p>
            <p>
                <label style="width:36%">Откуда поступил</label> 
                <select style="width:62%"></select>
            </p>
            <p>
                <label style="width:36%">Цель направления</label>
                <select style="width:62%"></select>
            </p>
            <p>Диагноз направившего учреждения </p>
                <textarea style="width:98%"></textarea>
             <p>
                <label style="width:36%">Код по МКБ-10</label>
                <input style="width:62%"/>
            </p>
        </div>
        <div class="col-4 border" style="padding:1%;">
            <p>Заключительный диагноз</p>
                 <textarea style="width:98%"></textarea>
            <p>
                <label style="width:36%">Код по МКБ-10</label>
                <input style="width:62%"/>
            </p>
            <p>
                <label style="width:36%">Основной код (+) по МКБ-10</label> 
                <input style="width:62%"/>
            </p>
            <p>
                <label style="width:36%">Инвалидность при выписке по псих. заболеванию</label>
                <select style="width:62%"></select>
            </p>
            <p>
                <label style="width:36%">Обследование больного на ВИЧ</label>
                <select style="width:62%"></select>
            </p>
            <p>
                <label style="width:36%">Выбыл</label>
                <select style="width:62%"></select>
            </p>
            <p>
                <label style="width:36%">Смерть наступила</label>
                <select style="width:62%"></select></p>
            <p>Основная причина смерти</p>
                 <textarea style="width:98%"></textarea>
             <p>
                <label style="width:36%">Код по МКБ-10</label>
                <input style="width:62%"/>
            </p>
        </div>
    </div>
</section>


<p style="text-align:center">Заполняется на больного, находившегося на принудитеьлном лечении в данном стационаре</p>
<div class="table-responsive">
    <p class="fw-bolder">Отметки о начале, окончании и изменении вида принудительного лечения</p>
    <section>
        <table class="table table-bordered" border="1">
        
            <thead class="thead-light" style="text-align:center">
                <tr>
                    <th colspan="2" class="col-2">Решение суда о начале принудительного лечения</th>
                    <th colspan="6" class="col-8">Решение суда об изменении (продлении) принудительного лечения</th>
                    <th class="col-2">Решение суда об окончании принудительного лечения</th>
                </tr>
                <tr>
                    <th class="col-1">Дата</th>
                    <th class="col-1">Вид</th>

                    <th class="col-1">Дата</th>
                    <th class="col-1">Вид</th>
                    <th class="col-1">Дата</th>
                    <th class="col-1">Вид</th>
                    <th class="col-1">Дата</th>
                    <th class="col-1">Вид</th>

                    <th class="col-2">Дата</th>
                </tr>           
            </thead>
            <tbody>
                <!--Вставил style т.к. импорт из css не работает-->
                @for (int i = 0; i < 3; i++)
                {
                    <tr style="width:100%; height:100%;">
                        <td><input type="date" class=object-table/></td>
                        <td><select class=object-table></select></td>

                        <td><input type="date" class=object-table/></td>
                        <td><select class=object-table></select></td>
                        <td><input type="date" class=object-table/></td>
                        <td><select class=object-table></select></td>
                        <td><input type="date" class=object-table/></td>
                        <td><select class=object-table></select></td>

                        <td><input type="date" class=object-table/></td>
            
                    </tr>
                }
               @* @foreach (var item in collection)
                {
                    <tr class="stat-card-head fw-normal">
                        <th ></th>
                        <th>@item.Str2</th>
                        <th>@item.Str3</th>
                        <th>@item.Str1</th>
                        <th>@item.Str2</th>
                        <th>@item.Str3</th>
                        <th>@item.Str1</th>
                        <th>@item.Str2</th>
                        <th>@item.Str3</th>
                    </tr>
                } *@
            </tbody>
        
        </table>
    </section>
</div>

<!--Пункты 29 и 30-->
<p>
    <label style="width:22%">В случае окончания принудительного лечения</label>
    <select style="width:18%"></select> 
</p>
<p>
    <label style="width:22%">Дата окончания принудительного лечения</label>
    <input type="date" style="width:18%">
</p>

<div style="height: 30px;"></div>
<h5 style="text-align:center">Дополнительные сведения о больном</h5>
<section>
    <div class="row">
        <div class="col-4 border" style="padding:1%;">
            <p>
                <label style="width:36%">Дата начала заболевания</label>
                <input type="date" style="width:62%">
            </p>
            <p>
                <label style="width:36%">Дата обращения к психиатру (наркологу) впервые в жизни</label>
                <input type="date" style="width:62%">
            </p>
            <p>
                <label style="width:36%">Вид амбулаторного наблюдения</label>
                <select style="width:62%"></select>
            </p>
            <p>
                <label style="width:36%">Дата предыдущей выписки из психиатрич. или наркологич. стац.</label>
                <input type="date" style="width:62%">
            </p>
            <p>
                <label style="width:36%">Число дней работы в ЛТМ</label>
                <input style="width:62%"/></p>
            <p>Число дней лечебных отпусков (за период госпитализации)</p>
            <p>
                <label style="width:28%"></label>
                <label style="width:70%">дней <input style="width: 34%"/> отпусков <input style="width: 33%"/></label>
            </p>
        </div>
        <div class="col-4 border" style="padding:1%;">
            <p>Сопутствующее психическое (наркологическое) заболевание</p>
                <textarea style="width:98%"></textarea>
            <p>
                <label style="width:36%">Код по МКБ-10 F</label>
                <input style="width:62%"/></p>
            <p>Сопутствующее соматическое заболевание</p>
            <p> <label style="width:36%">Код по МКБ-10</label>
                <input style="width:62%"/>
            </p>
            <p>
                <label style="width:36%">Инвалидность по общему заболеванию</label>
                <select style="width:62%"></select>
            </p>
            <p>
                <label style="width:36%">Инвалид ВОВ</label>
                <input type="checkbox">
            </p>
            <p>
                <label style="width:36%">Участник ВОВ</label>
                <input type="checkbox">
            </p>
            <p>
                <label style="width:36%">Образование</label>
                <select style="width:62%"></select>
            </p>
        </div>
        <div class="col-4 border" style="padding:1%;">
            <p>
                <label style="width:36%">Учится</label>
                <input type="checkbox">
            </p>
            <p>
                <label style="width:36%">Источник средств существования</label>
                <select style="width:62%"></select>
            </p>
            <p>
                <label style="width:36%">Проживает</label>
                <select style="width:62%"></select>
            </p>
            <p>
                <label style="width:36%">Условия проживания</label>
                <select style="width:62%"></select>
            </p>
            <p>
                <label style="width:36%">Исход заболевания</label>
                <select style="width:62%"></select>
            </p>
        </div>
    </div>
</section>


<div style="height: 30px;"></div>
<h5 style="text-align:center">Сведения об употреблении психоактивных веществ</h5>
<div class="table-responsive">
    <p class="fw-bolder">Возраст начала употребления психоактивных веществ</p>
    <table class="table table-bordered" border="1">
        <thead class="thead-light" style="text-align:center">
            <tr>
                <th rowspan="2">Наименование психоактивного вещества</th>
                <th colspan="4">Число полных лет</th>
            </tr>
            <tr>
                <th>курение</th>
                <th>прием внутрь</th>
                <th>внутривенно</th>
                <th>прочее</th>
            </tr>           
        </thead>
        <tbody>
            @for (int i = 0; i < 3; i++)
            {
                <tr style="text-align:center">
                    <td><select class=object-table/></td>
                    <td><input class=object-table/></td>
                    <td><input class=object-table/></td>
                    <td><input class=object-table/></td>
                    <td><input class=object-table/></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="table-responsive">
    <p class="fw-bolder">Употребление психоактивных веществ на момент госпитализации</p>
    <table class="table table-bordered" border="1">
         <thead class="thead-light" style="text-align:center">
            <tr>
                <th>Вид вещества</th>
                <th>Наименование психоактивного вещества</th>
                <th>Курение</th>
                <th>Прием внутрь</th>
                <th>Внутривенно</th>
                <th>Прочее</th>
            </tr>           
        </thead>
        <tbody>
            @for (int i = 0; i < 3; i++)
            {
                <tr style="text-align:center">
                    <td><select class=object-table/></td>
                    <td><select class=object-table/></td>
                    <td><input type="checkbox"/></td>
                    <td><input type="checkbox"/></td>
                    <td><input type="checkbox"/></td>
                    <td><input type="checkbox"/></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<p>
    <label style="width:42%">Использование чужих шприцов, игл, приспособлений в течении последнего года</label>
    <input type="checkbox">
</p>
<p>
    <label style="width:42%">Проживание с потребителем психоактивных веществ</label> 
    <input type="checkbox">
</p>
<p>
    <label style="width:33%">Полученный вид наркологической помощи в данном учреждении</label>
    <select style="width:10%"></select></p>

<!--Кнопка сохранения-->
<button class="btn btn-primary" @onclick="Save">Сохранить</button>

<Footer></Footer>



@code {

    List<SmthClass> collection = new List<SmthClass>();
    class SmthClass
    {
        public string Str1 { get; set; }
        public string Str2 { get; set; }
        public string Str3 { get; set; }

        public SmthClass(string str1, string str2, string str3)
        {
            Str1 = str1;
            Str2 = str2;
            Str3 = str3;
        }
    }

    double testcount = 0;
    //string str = "Иванов Иван Иванович";

    void Save() => testcount = Math.Cos(testcount);

    /// <summary>
    /// Инициализация до отрисовки
    /// </summary>
    /// <returns></returns>
    protected async override Task OnInitializedAsync()
    {
        collection.Add(new SmthClass("1", "2", "3"));
        collection.Add(new SmthClass("4", "5", "6"));
        collection.Add(new SmthClass("7", "8", "9"));
    }

    // временные данные
}
